<div>
    <h2>My Businesses</h2>
    <br>
    <section class="row">
        <div class="col-md-12" ng-show="vm.businesses.length > 0 && !vm.isLoading && !vm.error">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <a>Business ID</a>
                        </th>
                        <th>
                            <a>Name</a>
                        </th>
                        <th>
                            <a>Creation Date</a>
                        </th>
                        <th>
                            <a>Actions</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="business in vm.businesses">
                        <td>{{business.Business_Id}}</td>
                        <td>{{business.Name}}</td>
                        <td>{{business.Creation_Date | date:'fullDate'}}</td>
                        <td>
                            <button ng-click="vm.switchToManageBusiness(business, 'V')" tooltip-placement="top" uib-tooltip="View details" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <button ng-click="vm.removeBusiness(vm.businesses, $index)" tooltip-placement="top" uib-tooltip="Remove business" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="row">
        <div class="col-md-offset-3 col-md-6" ng-show="!vm.isLoading && vm.businesses.length == 0">
            <center>
                <span class="icon-error-size glyphicon glyphicon-edit" aria-hidden="true"></span>
                <h3>No Businesses found.</h3>
            </center>
        </div>
    </section>
    <section class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <ng-include src="'app/templates/loading.html'"></ng-include>
            <ng-include src="'app/templates/error.html'"></ng-include>
        </div>
    </section>
</div>
<script type="text/ng-template" id="deleteModal">
    <div class="modal-header">
        <h3 class="modal-title">Warning</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete your business? <br><br>
        This action will delete <b>everything</b>, including your business branches previously created.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.okModal()">Yes</button>
        <button class="btn btn-secondary" type="button" ng-click="vm.dismissModal()">Cancel</button>
    </div>
</script>
