.col {
    flex: 1;
}

.row {
    display: flex;
}

.image-size {
    width: 90%;
}

.padding-phone-panel {
    padding-top: 7.5px;
}


.viewFields-width {
    width: 10%;
}

.name-width {
    width: 20%;
}

.email-width {
    width: 40%;
}

.actions-width {
    width: 20%;
}
